/* 
Typography System
  Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  
  Font weights
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700

  Line heights
    Default: 1
    Small: 1.05
    Medium: 1.2
    Paragraph default: 1.6
  
  Letter-spacing
    Default: 1
    Very small: -0.5px
    Small: 0.75
  
Colors
  Primary
    #e67e22

  Tints
    #fdf2e9
    #fae5d3
    #eb984e

  Shades
    #cf711f
    #45260a

  Accents
  
  Greys
    #6f6f6f
    #555
    #333

Shadows

Boder-radius
  Defualt: 9px
  11px

Whitespace
  Spacing System (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  color: #555;
}

strong {
  font-weight: 500;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid-center-v {
  align-items: center;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.heading-primary, .heading-secondary, .heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;  
  color: #333;
}

.heading-primary {
  margin-bottom: 3.2rem;
  font-size: 5.2rem;
  line-height: 1.05;
}

.heading-secondary {
  margin-bottom: 9.6rem;
  font-size: 4.4rem;
  line-height: 1.2;
}

.heading-tertiary {
  margin-bottom: 3rem;
  font-size: 3.6rem;
  line-height: 1.2;
}

.subheading {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #cf711f;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.link:link, .link:visited {
  display: inline-block;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  color: #e67e22;

  transition: all 0.3s;
}

.link:hover, .link:active {
  border-bottom: 1px solid transparent;
  color: #cf711f;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 9px;
  cursor: pointer;

  transition: all 0.3s;
}

.btn-form {
  align-self: end;
  padding: 1.2rem;
  color: #fdf2e9;
  background-color: #45260a;
}

.btn-form:hover {
  color: #555;
  background-color: #fff;
}

.btn-full:link, .btn-full:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn-full:hover, .btn-full:active {
  background-color: #cf711f;
}

.btn-outline:link, .btn-outline:visited {
  color: #555;
  background-color: #fff;
}

.btn-outline:hover, .btn-outline:active {
  box-shadow: inset 0 0 0 3px #fff;
  background-color: #fdf2e9;
}