*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.vote-candidato{
    background: #cccccc;
}

.vote-candidato h1{
    text-align: center;
}

.candidatos{
    margin-top: 50px;
}

.informacoes,
.informacoes,
.informacoes{
    text-align: center;
    width: 80%;
    margin-left: 100px;
    padding-top: 30px;
}

.foto,
.foto,
.foto{
    position: relative;
    left: 40%;
    height: 100px;
    width: 100px;
    background: #8b8b8b;
}

p{
    padding: 9px;
    margin-right: 7%;

    display: inline-block;
}

input[type=button]{
    border-radius: 10px;
    border: 1px solid black;
    width: 100px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    bottom: 70px;
    left: 50px;
}

.enviar input[type=button]{
    position: absolute;
    margin-left: 35%;
    width: 200px;
    height: 30px;
    text-transform: uppercase;
}