*{
    margin: 0;
    padding: 0;
    font: bold 20px Arial;
    box-sizing: border-box;
}

.container{
    display: flex;
    padding: 20px;
}

.localizacao{
    height: 30px;
    width: 20px;
    background-color: red;
}

.blanc{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 100%;
}