*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.parent{
    width: 50%;
    height: 400px;
    background-color: black;
}

.box{
    width: 50%;
    padding-top: 47%;
    background-color: orangered;
}