*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 300px;
    height: 300px;
    position: relative;
    background-color: orangered;
    /*
    animation-name: animacao_1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    */
    animation: animacao_1 2s ease-in-out 0.5s infinite alternate;
}

@keyframes animacao_1{
    0%{
        left: 0;
        top: 0;
        background-color: orangered;
    }

    50%{
        left: 10px;
        top: 100px;
    }

    75%{
        width: 50%;
        background-color: blue;
    }

    80%{
        left: 0;
        top: 0;
        background-color: orangered;
    }
}