*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}

.fundo{
    opacity: 100%;
    margin: 100px;
    padding: 50px;
    height: 600px;
    width: 600px;
    background-image: url(mesa3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.box{
    position: relative;
    bottom: 600px;
    right: 500px;
    display: block;
    height: 80%;
    width: 30%;
    margin: 50px auto;
    background: rgba(200, 200, 200, 0.5);
}

p{
    max-width: 400px;
    padding: 50px;
    text-align: justify;
    font-size: 35px;
    color: #032204;
}

span{
    font-size: 25px;
}