*{
    margin: 0;
    padding: 0;
    font: bold 20px Arial;
    box-sizing: border-box;
}

body{
    background-color: rgb(70, 142, 236);
}

#title{
    font-size: 55px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.main{
    width: 30%;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    padding-top: 5px;
    border-radius: 20px;
    background-color: #515154;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

.registerbtn2{
    display: none;
    margin-top: 5px;
    margin-left: 15px;
    color: #eb2d2d;
    cursor: pointer;
}

.display{
    display: grid;
    width: 98%;
    height: 20%;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: aqua;
}

.buttons{
    display: flex;
}

.numbers{
    display: flex;
    flex-direction: column;
}

.zeroToFour{
    display: flex;
}

.fiveToNine{
    display: flex;
}

.numbersbtn{
    padding: 40px;
    cursor: pointer;
    text-align: center;
}

.operations{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.operationsbtn{
    padding: 20px;
    cursor: pointer;
}

.results{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.registerbtn{
    color: #eb2d2d;
    cursor: pointer;
}

.register{
    display: none;
    align-items: center;
    justify-content: center;
}

.cleanbtn{
    margin-top: 44px;
    color: #eb2d2d;
    cursor: pointer;
}

.deletebtn{
    margin-top: 40px;
    color: #eb2d2d;
    cursor: pointer;
}

.equal{
    font-size: 30px;
    margin-top: 25px;
    color: #eb2d2d;
    cursor: pointer;
}