*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    background: #ccc;
    padding: 25px;
    display: flex;
}

.header ul{
    margin-left: auto;
}

.header ul li{
    display: inline-block;
    text-align: right;
}

.header ul li a{
    text-decoration: none;
    color: black;
    padding: 3px 15px 0 15px;
}

main{
    margin-top: 20px;
    width: 100%;
}

.candidato{
    background-color: rgb(240, 240, 240);
    margin-bottom: 10px;
}

.candidato img{
    width: 200px;
}

.candidato .textos{
    display: flex;
}

.candidato .textos p{
    padding: 10px;
    margin-bottom: 20px;
}

.candidato .textos input[type=button]{
    margin: 0 50px 20px auto;
}
