*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

/* Começo da estilização de coisas de uso geral */
.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/* Estilizando o header */
header{
    height: 130px;
    padding: 20px 2% 35px 2%;
}

/* Estilizando o logo do header */
header .logo{
    float: left;
}

/* Estilizando o p do logo */
.logo p{
    padding-top: 40px;
    font-size: 25px;
}

/* Estilizando o menu desktop do header */
.menu-desktop{
    float: right;
    position: relative;
    top: 40px;
}

/* Estilizando a ul do menu desktop */
.menu-desktop ul{
    list-style-type: none;
}

/* Estilizando a li do menu desktop */
.menu-desktop ul li{
    float: left;
    font-size: 23px;
    padding:0 30px ;
    font-style: italic;
}

/* Estilizando o link o menu desktop */
.menu-desktop a{
    text-decoration: none;
    color: black;
}

/* Estilizando o link selecionado do menu desktop */
.menu-desktop .selected{
    color: #EB2D2D;
}

/* Estilizando o menu mobile */
.menu-mobile{
    display: none;
    margin-top: 40px;
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    background-image: url(imagens/icon_menu.png);
    cursor: pointer;
}

/* Estilizando o ul do menu mobile */
.menu-mobile ul{
    display: none;
    z-index: 999;
    width: 100%;
    position: absolute;
    left: 0;
    top: 110px;
    text-align: center;
    background-color: white;
    border-bottom: 5px solid #EB2D2D;
}

/* Estilizando a li do menu mobile */
.menu-mobile ul li{
    font-size: 23px;
    padding: 20px 0;
    font-style: italic;
}

/* Estilizando o link do menu mobile */
.menu-mobile li a {
    text-decoration: none;
    color: black;
}
/* Fim da estilização do menu */

/* Começo da estilização do banner */
/* Estilizando o banner */
.banner{
    width: 60%;
    height: 650px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #EB2D2D;
    background-image: url(imagens/bg.jpg);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat; 
    box-shadow: 5px 5px 20px -3px #000000;
}

/* Estilizando o text do banner */
.text-banner{
    padding: 50px;
    font-size: 30px;
    text-align: justify;
    color: white;
}

/* Estilizando o text banner single*/
.text-banner-single{
    width: 314px;
    height: 50px;
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 23px;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    background-image: url(imagens/box-text.png);
    background-size: 100% 100%;
}

/* Estilzando o segundo text banner single */
.text-banner .text-banner-single:nth-of-type(2){
    width: 200px;
    position: relative;
    left: -10px;
}

/* Estilizando o terceiro text banner single */
.text-banner .text-banner-single:nth-of-type(3){
    width: 170px;
    position: relative;
    left: -20px;
}

/* Estilizando o quarto text banner single */
.text-banner-single:nth-of-type(4){
    width: 320px;
    height: 50px;
    color: black;
    position: relative;
    left: -30px;
    background-image: url(imagens/box-white-text.png);
}
/* Fim da estilização do banner */

/* Começo da estilização do main */
/* Estilizando veiculos destaque */
.veiculos-destaque{
    padding: 90px 2%;
}

/* Estilizando line titulo */
.line-titulo{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

/* Estilizando line1 */
.line1{
    position: absolute;
    height: 5px;
    width: 100%;
    top: 20px;
    background: #EB2D2D;
}

/* Estilizanod o h2 do line titulo */
.line-titulo h2{
    position: relative;
    background: white;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    font-size: 27px;
    font-style: italic;
    text-transform: uppercase;
}

/* Estilizando o container do veiculos destaque */
.veiculos-destaque .container{
    max-width: 1000px;
    padding: 40px 0;
    text-align: center;
}

/* Estilizando vitrine destaque */
.vitrine-destaque{
    float: left;
    width: 33.3%;
}

/* Estilizando o carro img */
.vitrine-destaque .carro-img{
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    border: 8px solid white;
    background-image: url(imagens/carro1.jpg);
}

.vitrine-destaque .carro-img:nth-of-type(1){
    background-image: url(imagens/Uno-de-escada.jpg);
}

/* Estilizando o h2 da vitrine destaque */
.vitrine-destaque h2{
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
}

/* Estilizando o p da vitrine destaque */
.vitrine-destaque p{
    padding-top: 8px;
    padding-left: 8px;
    color: #353535;
    font-size: 15px;
    font-style: italic;
}

/* Estilizando a tag btn1 */
.btn1{
    font-style: italic;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #EB2D2D;
    border-bottom: 5px solid #B21E1E;
    color: white;
    font-size: 20px;
    font-style: italic;
    width: 150px;
    line-height: 40px;
    padding: 5px 10px;
}

/* Estilizando o link da vitrine destaque */
.vitrine-destaque a{
    display: inline-block;
    margin-top: 10px;
    margin-left: 8px;
}

/* Estilizanod servicos descricao */
.servicos-descricao{
    margin-top: 10px;
    display: flex;
}

/* Estilizando a half1 */
.half1{
    width: 50%;
    padding: 90px 0;
    text-align: center;
    background: #242424;
    color: white;
}

/* Estilizando a wraper half1 */
.half1-wraper{
    padding: 0 5%;
    text-align: left;
    display: inline-block;
}

/* Estilizando o h2 da half1 wraper */
.half1-wraper h2{
    padding-bottom: 30px;
    font-weight: normal;
    font-style: italic;
    font-size: 35px;
}

/* Estilizando a ul do half1 wraper */
.half1-wraper p{
    font-size: 20px;
}

/* Estilizando a li da half1 wraper */
.half1-wraper li{
    margin-left: 15px;
    font-size: 18px;
}

/* Estilizando o link da half1 wraper */
.half1-wraper a{
    margin-left: 40px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
}

/* Estilizando a half2 */
.half2{
    width: 50%;
    padding: 90px 100px;
    background: #EB2D2D;
    color: white;
}

/* Estilzando o h2 da half2 */
.half2 h2{
    padding-bottom: 30px;
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

/* Estilizando o depoimento single do half2 */
.half2 .depoimento-single{
    margin-top: 19px;
}

/* Estilizando o depoimento do half2 */
.half2 p{
    font-size: 20px;
}

/* Estilizando navegation */
.navegation{
    float: left;
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
}

/* Estilizando a imagem da navegation  */
.navegation img{
    margin: 0 20px;
    cursor: pointer;
}

/* Estilizando as setas do depoimento */
.arrows{
    float: left;
}

/* Estilizando o p do depoimento */
.nome-depoimentos p{
    float: right;
    color: #252525;
    font-size: 24px;
}

/* Estilizando contato */
.contato{
    padding: 25px 2% 0 2%;
}

/* Estilizando o form do contato */
.contato form{
    max-width: 600px;
    margin: 30px auto;
}

/* Estilizando o input wraper do contato */
.contato .input-wraper{
    float: left;
    padding: 10px;
    margin-top: 7px;
}

/* Estilizando o input type text e o input type email */
.contato input[type=text],
.contato input[type=email]{
    width: 100%;
    border: 1px solid #cccccc;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}

/* Estilindo o w100 */
.w100{
    width: 100%;
}

/* Estilizando w50 */
.w50{
    width: 50%;
}

/* Estilizando a textare */
.contato textarea{
    width: 100%;
    border: 1px solid #cccccc;
    height: 120px;
    padding: 8px;
    resize: none;
}

/* Estilizando o quinto input wraper do form */
.contato form .input-wraper:nth-of-type(5){
    text-align: center;
}

/* Estilizando type submit do contato */
.contato input[type=submit]{
    display: inline-block;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    cursor: pointer;
}
/* Fim da estilização do main */

/* Começo da estilização do footer */
footer{
    margin-top: 40px;
    padding: 40px 2%;
    background: #252525;
}

/* Estilizando o menu do footer */
.menu-footer{
    float: left;
}

/* Estilizando a ul do menu footer */
.menu-footer ul{
    list-style-type: none;
}

/* Estilizando a li do menu footer */
.menu-footer ul li{
    float: left;
    font-size: 19px;
    font-style: italic;
    padding: 0 35px;
}

/* Estilizando os links do menu footer */
.menu-footer ul li a{
    color: white;
    text-decoration: none;
}

/* Estilizando o p do footer */
footer p{
    float: right;
    color: white;
    font-size: 19px;
    font-style: italic;
}

/* Estilzando link selecionado do menu do footer */
.menu-footer .selected{
    color: #EB2D2D;
}
/* Fim da estilização do index.html  */
/***********************************************************************************************************/

/* Começo da estilização da venda.html */
.header-venda{
    border-bottom: 3px solid #EB2D2D;
}

/* Estilizando o venda  */
.venda{
    padding: 50px 0;
    min-height: 90%;
}

/* Estilizando o content venda */
.content-venda{
    margin-top: 40px;
}

/* Estilizando a sidebar venda */
sidebar{
    float: left;
    width: 30%;
    padding: 0 4%;
}

/* Estilizando o search1 */
.search1{
    width: 90%;
}

/* Estilizando o h2 do search1 */
.search1 h2{
    font-size: 24px;
    font-weight: normal;
    color: black;
}

/* Estilizando a barra preco */
.search1 .barra-preco{
    width: 100%;
    height: 20px;
    margin-top: 10px;
    border-radius: 20px;
    background: white;
    border: 1px solid #cccccc;
    position: relative;
}

/* Estilizando a barra preco fill */
.barra-preco-fill{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 20px;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgb(250, 250, 250), rgb(200,200,200));
}

/* Estilizando o pointer barra */
.pointer-barra{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 25%;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgb(250, 250, 250), rgb(180,180,180));
    border: 1px solid black;
    cursor: pointer;
}

/* Estilizando o p do valor pesquisa */
.valor-pesquisa p{
    font-size: 15px;
    color: black;
}

/* Estilizando o primeiro p do valor pesquisa */
.valor-pesquisa p:nth-of-type(1){
    float: left;
}

/* Estilizando o segundo p do valor pesquisa */
.valor-pesquisa p:nth-of-type(2){
    float: right;
}

/* Estilizando o search2 */
.search2{
    margin-top: 50px;
}

/* Estilizado o h2 do search2 */
.search2 h2{
    font-size: 24px;
    color: black;
    font-weight: normal;
}

/* Estilizando o from venda wraper */
.form-venda-wraper{
    margin-top: 10px;
}

/* Estilizando o input do form venda wraper */
.form-venda-wraper input{
    display: none;
}

/* Estilizando a label do form venda wraper */
.form-venda-wraper label{
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilizando o circle da label */
.form-venda-wraper .circle{
    display: none;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: black;
}

/* Estilizando o circle para aparecer quando selecionado */
.form-venda-wraper input[type=checkbox]:checked + label > .circle{
    display: block;
}

/* Estilizando o span do form venda wraper */
.form-venda-wraper span{
    padding: 0 10px;
    margin-bottom: 10px;
    vertical-align: top;
}
/* Fim da estilização da sidebar */

/* Começo da estilização do conteúdo */
/* Estilizando a vitrine venda */
.vitrine-venda{
    overflow: hidden;
    float: left;
    width: 70%;
    text-align: center;
}

/* Estilizando o link da vitrine venda */
.vitrine-venda a{
    margin-bottom: 30px;
}
/* Fim da estilização da página venda */
/* ***************************************************************************************************** */

/* Começo da estilização da página veiculo-teste */
/* Estilizando o header venda single */
.header-venda-single{
    border-bottom: 3px solid #EB2D2D;
    margin-bottom: 60px;
}

/* Estilizando o venda single */
.venda-single{
    padding: 0 5%;
}

/* Estilizando o container do venda single */
.venda-single .container{
    max-width: 1000px;
    text-align: center;
    padding: 40px 0;
}

/* Estilizando o info veiculo */
.info-veiculo{
    float: left;
    width: 60%;
    padding: 0 5%;
}

/* Estilizando a foto destaque */
.foto-destaque{
    margin-left: -40px;
    width: 100%;
    padding-top: 70%;
    background-position: center;
    background-size: cover;
    background-image: url(imagens/Uno-de-escada.jpg);
    background-repeat: no-repeat;
}

/* Estilizando a descricao-veiculo */
.descricao-veiculo{
    display: inline-block;
    width: 40%;
    padding: 50px;
}

/* Estilizando o h2 da descricao veiculo */
.descricao-veiculo h2{
    text-align: center;
    color: #B21E1E;
}

/* Estilizando o segundo h2 da descricap veiculo */
.descricao-veiculo h2:nth-of-type(2){
    padding: 8px 0;
    color: black;
}

/* Estilizando o p da descricao veiculo*/
.descricao-veiculo p{
    max-width: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
    text-align: justify;
}

/* Estilizando o link da descricao veiculo */
.descricao-veiculo a{
    margin-top: 50px;
    text-align: center;
}

/* Estilizando o info bread */
.info-bread{
    text-align: left;
    padding: 10px 0;
    font-size: 18px;
}

/* Estilizando o link do info bread */
.info-bread a{
    text-decoration: none;
    color: black;
}

/* Estilizando o ultimo link do info bread */
.info-bread a:last-child{
    color: #B21E1E;
}

/* Estilizando o span do info bread */
.info-bread span{
    padding: 0 20px;
}

/* Estilizando a nav galeria parent */
.nav-galeria-parent{
    width: 100%;
    padding: 36px;
    margin-left: -40px;
    position: relative;
}

/* Estilizando a arrow left */
.arrow-left-nav{
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-image: url(imagens/arrow-left.png);
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

/* Estilizando a arrow right */
.arrow-right-nav{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    background-image: url(imagens/arrow-right.png);
    background-size: 100% 100%;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

/* Estilizando a nav galeria */
.nav-galeria{
    overflow: hidden;
    width: 100%;
}

/* Estilizando o nav galeria wraper */
.nav-galeria-wraper{
    width: 200%;
}

/* Estilizando a mini-img-wraper */
.mini-img-wraper{
    float: left;
    padding: 9px;
    width: calc(33.3% * (100 / 200));
}

/* Estilizando a primeira mini img wraper */
.mini-img-wraper:nth-of-type(1){
    background: #B21E1E;
}

/* Estilizando a mini-img */
.mini-img{
    width: 100%;
    padding-top: 70%;
    background-image: url(imagens/Uno-de-escada.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
/* Fim da estilização da pagina veiculos teste */
/* ******************************************************************************************** */

/* Começo da estilização da página sobre */
/* Estilizando o header da pagina sobre */
.header-sobre{
    border-bottom: 3px solid #EB2D2D;
}

/* Estilizando o sobre */
.sobre{
    padding: 50px 5%;
    min-height: 90%; 
}

/* Estilizando o container do sobre */
.sobre .container{
    max-width: 840px;
    margin-top: 30px;
}

/* Estilizando a img destaque sobre */
.img-destaque-sobre{
    width: 100%;
    padding-top: 60%;
    background-color: #cccccc;
}

/* Estilizando a descricao loja */
.sobre .descricao-loja{
    margin-top: 20px;
}

/* Estilizando o h2 da descricao loja */
.descricao-loja h2{
    font-size: 30px;
}

/* Estilizando o p da descricao loja */
.descricao-loja p{
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}

/* Estilizando descricao dono */
.descricao-dono{
    margin-top: 50px;
}

/* Estilizando a img dono */
.img-dono{
    float: left;
    width: 25%;
    padding-top: 25%;
    background-position: center;
    background-size: contain;
    background-color: #cccccc; 
}

/* Estilizando o p da descricao dono */
.descricao-dono p{
    float: left;
    width: 75%;
    padding: 10px 40px;
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
}

/* Começo da aplicação da media care */
/* Media care em 1400px */
@media screen and (max-width: 1400px){
    .banner{
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

/* Media care em 1024px */
@media screen and (max-width: 1024px){
    .banner{
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }
}

/* Media care me 850px */
@media screen and (max-width: 850px){
    .half1-wraper a{
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
}

/* Media care em 768px */
@media screen and (max-width:768px){
    .menu-desktop{
        display: none;
    }

    .menu-mobile{
        display: block;
    }

    .banner{
        background-size: cover;
        background-position: 100px center;
        height: 80vh;
    }

    .servicos-descricao{
        flex-direction: column;
    }

    .half1{
        text-align: center;
    }

    .half1-wraper{
        padding-right: 0;
    }

    .half1, .half2{
        width: 100%;
        padding: 90px 5%;
    }

    .w50{
        width: 100%;
    }

    .menu-footer{
        display: none;
    }

    footer{
        text-align: center;
    }

    footer p{
        float: none;
    }

    sidebar{
        width: 100%;
        text-align: center;
    }

    .search1{
        display: inline-block;
    }

    .search2{
        display: inline-block;
        text-align: left;
    }

    .vitrine-venda{
        float: left;
        width: 100%;
    }

    .info-veiculo{
        width: 100%;
        text-align: center;
    }

    .foto-destaque{
        margin: 0;
    }

    .nav-galeria-parent{
        margin: 0;
    }

    .descricao-veiculo{
        width: 100%;
        text-align: center;
    }

    .descricao-veiculo p{
        max-width: none;
        font-size: 18px;
        text-align: center;
    }

    .descricao-dono .img-dono{
        width: 70%;
        padding-top: 70%;
        margin-left: 15%;
    }

    .descricao-dono p{
        width: 100%;
        padding: 10px 0;
    }
}

/* Media care em 580px */
@media screen and (max-width: 580px){
    .text-banner{
        padding: 30px;
    }

    .veiculos-destaque .line-titulo h2{
        font-size: 23px;
    }

    .veiculos-destaque .container{
        max-width: 1000px;
        padding: 40px 0;
        text-align: center;
    }

    .vitrine-destaque{
        display: inline-block;
        float: none;
        width: 80%;
        margin-top: 20px;
    }

    .vitrine-destaque a{
        display: inline-block;
    }

}